In [2]:
from time import time
import pprint
from sklearn.utils import shuffle
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from time import time
pp = pprint.PrettyPrinter(indent=4, compact=True)


biden = pd.read_csv('biden_tweets.csv')
biden['candidate'] = 'Biden'

booker = pd.read_csv('booker_tweets.csv')
booker['candidate'] = 'Booker'


buttig = pd.read_csv('buttigieg_tweets.csv')
buttig['candidate'] = 'Buttigieg'

dnc = pd.read_csv('dem_deb_tweets.csv')
dnc['candidate'] = 'DNC'

gabbard = pd.read_csv('gabbard_tweets.csv')
gabbard['candidate'] = 'Gabbard'

klob = pd.read_csv('klobuchar_tweets.csv')
klob['candidate'] = 'Klobuchar'

sanders = pd.read_csv('sanders_tweets.csv')
sanders['candidate']='Sanders'

steyer = pd.read_csv('steyer_tweets.csv')
steyer['candidate']='Steyer'

warren = pd.read_csv('warren_tweets.csv')
warren['candidate'] = 'Warren'

yang = pd.read_csv('yang_tweets.csv')
yang['candidate'] = 'Yang'


dems = pd.concat([biden, booker, buttig, dnc, gabbard, klob, sanders, steyer, warren, yang], axis=0, sort=False)

del biden, booker, buttig, dnc, gabbard, klob, sanders, steyer, warren, yang

#dems.to_csv('full_dems.csv')

dems.drop_duplicates()

"""convert columns to strings"""
temp_list = []
for value in dems['clean_text']:
    value = str(value)
    temp_list.append(value)

dems['clean_text'] = temp_list
dems['clean_text'] = dems['clean_text'].str.lower()


temp_list = []
for value in dems['hashtags']:
    value = str(value)
    temp_list.append(value)
    
dems['hashtags'] = temp_list
dems['hashtags'] = dems['hashtags'].str.lower()

dems = shuffle(dems, random_state=0)

dems.head(2)

,blank_check,created_at,original_text,clean_text,sentiment,polarity,subjectivity,favorite_count,retweet_count,hashtags,user_mentions,candidate
10596,NaN,Sat Dec 07 20:25:26 +0000 2019,RT @mumbleprince: Hey #YangGang I’m living in ...,hey i ’ living va extremely red county 87 dist...,"Sentiment(polarity=0.08333333333333333, subjec...",0.083333,0.144444,0,148,yanggang,mumbleprince,Yang
37235,NaN,Fri Dec 06 15:39:05 +0000 2019,"RT @marchandsteve: In NH, @AndrewYang continue...",in nh continues get traction amp signed lease ...,"Sentiment(polarity=-0.10000000000000003, subje...",-0.100000,0.950000,0,129,nan,"marchandsteve, AndrewYang",Yang

### Try this temporarily and fuck around with this with a smaller dataset

In [ ]:
remove_list = ['is', 'must', 'nan']

In [34]:
word_list = []
tweet_list = []
hashtag_list = []


total_index = 0
word_index = 0
time0 = time()

for tweet in dems['clean_text']:
    #tweet_list.append(tweet)
    #print(tweet)
    temp_list = tweet.split(' ')
    attach_list = []
    for word in temp_list:
        if word in remove_list:
            pass
        else:
            attach_list.append(word)
    tweet_list.append(attach_list)
    
    for word in temp_list:
        #word = word.lower()
        if word in word_list:
            total_index = total_index +1
            pass
        elif (len(word) <=2) or '..' in word or "'" in word:
            total_index +=1
            pass
        else:
            word_list.append(word)
            total_index = total_index +1            
            word_index = word_index+1
        if total_index % 100000 == 0:
            print('index {}'.format(total_index))
time1 = time()
print(round((time1-time0)/60, 4))



total_index = 0
word_index = 0
time0 = time()

for tweet in dems['hashtags']:
    #tweet_list.append(tweet)
    #print(tweet)
    temp_list = tweet.split(' ')
    attach_list = []
    for word in temp_list:
        if word in remove_list:
            pass
        else:
            attach_list.append(word)
    tweet_list.append(attach_list)
    
    for word in temp_list:
        #word = word.lower()
        if word in word_list:
            total_index = total_index +1
            pass
        elif (len(word) <=2) or '..' in word or "'" in word:
            total_index +=1
            pass
        else:
            word_list.append(word)
            total_index = total_index +1            
            word_index = word_index+1
        if total_index % 100000 == 0:
            print('index {}'.format(total_index))
time1 = time()
print(round((time1-time0)/60, 4))
print('the word list has {} words'.format(len(word_list)))
print('the tweet list has {} tweets'.format(len(tweet_list)))
print('the hashtag list has {} hashtags'.format(len(hashtag_list)))

index 100000
index 200000
index 300000
index 400000
index 500000
index 600000
index 700000
index 800000
index 900000
index 1000000
index 1100000
index 1200000
index 1300000
index 1400000
index 1500000
index 1600000
index 1700000
index 1800000
index 1900000
index 2000000
index 2100000
index 2200000
index 2300000
index 2400000
index 2500000
index 2600000
index 2700000
index 2800000
index 2900000
index 3000000
index 3100000
13.0155
index 100000
index 200000
index 300000
index 400000
7.1918
the word list has 48789 words
the tweet list has 264406 tweets
the hashtag list has 264406 hashtags

In [20]:
if (4>5) or (4<5):
    print(True)

True

In [12]:
basket_list = []
for i in range(len(tweet_list)):
    temp_list = []
    for word in tweet_list[i]:
        temp_list.append(word)
    for word in hashtag_list[i]:
        temp_list.append(word)
    basket_list.append(temp_list)
    
#pp.pprint(basket_list)

In [13]:
pp.pprint(basket_list[:5])

[   [   'hey', 'i', '’', 'living', 'va', 'extremely', 'red', 'county', '87',
        'district', 'turned', 'blue', 'first', 'time', 'in…', 'yanggang'],
    [   'in', 'nh', 'continues', 'get', 'traction', 'amp', 'signed', 'lease',
        'th', 'office', 'w/an', 'enthusiastic', 'base', 'supp…', 'nan'],
    ['elizabeth', 'warren', 'bernie', 'sanders', 'warren2020'],
    [   'so', 'hyped', 'met', 'i', 'still', 'cloud', 'motivated', 'get', 'man',
        'office', 'like', 'never', '…', 'nan'],
    [   'i', 'ran', 'one', 'doctors', 'today', 'amp', 'made', 'point', 'tell',
        '“', 'i', 'looked', 'yang', 'guy', 'talking', 'amp', '…', 'nan']]

### Try the Apriori Algorithm

In [6]:
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori

In [7]:
oht = OnehotTransactions()
oht_array = oht.fit(basket_list).transform(basket_list)
df = pd.DataFrame(oht_array, columns = oht.columns_)
df.head()

C:\PROGRA1\Anaconda3\lib\site-packages\mlxtend\preprocessing\onehot.py:66: DeprecationWarning: OnehotTransactions has been deprecated and will be removed in future. Please use TransactionEncoder instead.
  warnings.warn(msg, DeprecationWarning)

,'','d,'father-of-the-year,'fired,'ll,'m,'medical,'policy,'re,'s,...,🤷‍️,🥂,🥰,🥳,🦅,🧐,🧒,🧢,🧢🇺🇸,🧢🤑
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
# pd.Series(df.columns).to_csv('word_list.csv')

C:\PROGRA1\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  if __name__ == '__main__':

In [22]:
time0 = time()

frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets.sort_values(by=['support', 'length'], ascending=[False, True])
print(frequent_itemsets.shape)
    
time1 = time()
print(round((time1-time0)/60), 4)

(430461, 3)
2 4

In [31]:
time0 = time()

frequent_itemsets = apriori(df, min_support=0.02, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets.sort_values(by=['support', 'length'], ascending=[False, True])
print(frequent_itemsets.shape)
    
time1 = time()
print(round((time1-time0)/60), 4)

(32915, 3)
0 4

In [30]:
# time0 = time()

# frequent_itemsets = apriori(df, min_support=0.03, use_colnames=True)
# frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
# frequent_itemsets.sort_values(by=['support', 'length'], ascending=[False, True])
# print(frequent_itemsets.shape)
    
# time1 = time()
# print(round((time1-time0)/60), 4)

In [25]:
from mlxtend.frequent_patterns import association_rules

In [32]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)

KeyboardInterrupt

In [ ]:
# rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.25)
# rules

In [28]:
rules['antecedent_length'] = rules['antecedents'].apply(lambda x: len(x)) ## apply the length function to every value of the col

In [29]:
rules[(rules['antecedent_length'] >= 2) & (rules['confidence'] > 0.75) & (rules['lift'] > 1.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_length
14,"(biden, 's)",(nan),0.040,0.341,0.032,0.800000,2.346041,0.018360,3.295,2
15,"(nan, must)",(biden),0.038,0.094,0.037,0.973684,10.358343,0.033428,34.428,2
16,"(biden, must)",(nan),0.037,0.341,0.037,1.000000,2.932551,0.024383,inf,2
18,"(watch, must)",(biden),0.037,0.094,0.037,1.000000,10.638298,0.033522,inf,2
19,"(watch, biden)",(must),0.037,0.044,0.037,1.000000,22.727273,0.035372,inf,2
20,"(biden, must)",(watch),0.037,0.041,0.037,1.000000,24.390244,0.035483,inf,2
23,"(nan, watch)",(biden),0.038,0.094,0.037,0.973684,10.358343,0.033428,34.428,2
24,"(watch, biden)",(nan),0.037,0.341,0.037,1.000000,2.932551,0.024383,inf,2
26,"(nan, watch)",(must),0.038,0.044,0.037,0.973684,22.129187,0.035328,36.328,2
27,"(nan, must)",(watch),0.038,0.041,0.037,0.973684,23.748395,0.035442,36.442,2
28,"(watch, must)",(nan),0.037,0.341,0.037,1.000000,2.932551,0.024383,inf,2
31,"(nan, watch, must)",(biden),0.037,0.094,0.037,1.000000,10.638298,0.033522,inf,3
32,"(nan, watch, biden)",(must),0.037,0.044,0.037,1.000000,22.727273,0.035372,inf,3
33,"(nan, biden, must)",(watch),0.037,0.041,0.037,1.000000,24.390244,0.035483,inf,3
34,"(watch, must, biden)",(nan),0.037,0.341,0.037,1.000000,2.932551,0.024383,inf,3
35,"(nan, watch)","(biden, must)",0.038,0.037,0.037,0.973684,26.315789,0.035594,36.594,2
36,"(nan, must)","(watch, biden)",0.038,0.037,0.037,0.973684,26.315789,0.035594,36.594,2
37,"(watch, must)","(nan, biden)",0.037,0.071,0.037,1.000000,14.084507,0.034373,inf,2
38,"(watch, biden)","(nan, must)",0.037,0.038,0.037,1.000000,26.315789,0.035594,inf,2
39,"(biden, must)","(nan, watch)",0.037,0.038,0.037,1.000000,26.315789,0.035594,inf,2

## Dictionaries

### Word dictionary

In [69]:
time0 = time()
word_dic = {}
for word in word_list:
    word_dic[word] = []
time1 = time()
print(round((time1-time0)/60), 4)

0 4

In [70]:
word_dic['biden']

[]

#### Tweet Dicitonary

In [31]:
pp.pprint(tweet_list[0])

[   'hey', 'i', '’', 'living', 'va', 'extremely', 'red', 'county', '87',
    'district', 'turned', 'blue', 'first', 'time', 'in…']

In [64]:
time0 = time()

all_user_tweet_dic = {}

for i in range(len(tweet_list)):
    tweet_basket = tweet_list[i]
    hashtag_basket = hashtag_list[i]


    all_user_tweet_dic['user{}'.format(i)] = []

    for word in tweet_basket:
        all_user_tweet_dic['user{}'.format(i)].append(word)

    for word in hashtag_basket:
        all_user_tweet_dic['user{}'.format(i)].append(word)
    
time1 = time()
print(round((time1-time0)/60), 4)

0 4

In [72]:
# pp.pprint(user_tweet_dic['user3'])

In [59]:
# temp_df = pd.DataFrame([user_tweet_dic]).T
# temp_df.columns = ['Tweet List']
# temp_df

In [71]:
# pd.DataFrame([{'user9': 0}], index=['user9'])

In [ ]:
for user, word_basket in all_user_tweet_dic.items():
    user_basket = all_user_tweet_dic[user]
    for user_word in user_basket:
        word_dic[user_word].append(1)
        
        
#         for word, value in word_dic.items():
#             if user_word in

In [45]:
idx = 0
for key, value in user_tweet_dic.items():
    idx +=1
    
idx

1000

In [27]:
# idx = 0
# #while idx < 100:
# for key, value in word_dic.items():
#     print(key, value)
#     idx = idx+1
#     if idx > 40:
#         break

#### Hashtag Dictionary

#### Create Dataframe of Elements from the Word Dictionary

In [24]:
word_df = pd.DataFrame([word_dic])
word_df.head()

,hey,i,’,living,va,extremely,red,county,87,district,...,tulsiforpresident,"environment,","math,",yanggangloveleaders,"bidenharris,","walkawayfromdemocrats,",wwg1wga,"nhpolitics,","voteforbernie,",bernieyardsign
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
hashtag_set = set()
for value in tuple(hashtag_list):
    hashtag_set.add(hash(value))

hashtag_list
#tweet_list = set(tweet_list)

TypeError: unhashable type: 'list'

In [77]:
type(tweet_list)

list

In [3]:
# temp_list = []
# for value in dems['clean_text']:
#     print(value)
#     temp_list.append(value)
#     break

In [ ]:
"""Metaobject: A List of Split tweet, which are themselves lists"""
"""Basekt of tweet words, the letters in the vocabulary"""
"""Metaobject: A lsit of hashtags, which are themselves lists"""

"""Concatenate the two metaobjects"""

"""for every tweet in clean_text:
    split the tweet into a list of words
    append the list of words to the list of tweets
    
    for every hashtag in hashtags:
    split the string into a list of words
    append the list of words to the list of tweets  
    """

In [23]:
word_list = set(word_list)

In [22]:
contains_itself_as_a_set = True
does_not_contain_itself_as_a_set = False

In [17]:
# print(biden.shape)
# print(booker.shape)
# print(buttig.shape)
# print(dnc.shape)
# print(gabbard.shape)
# print(klob.shape)
# print(sanders.shape)
# print(steyer.shape)
# print(warren.shape)
# print(yang.shape)